
body {
	font-family: 'Lato';

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-family: 'Catamaran';
	font-weight: 600 !important;
  }
  



  .btn-xl {
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	font-size: 0.9rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
  }
  
  .bg-black {
	background-color: #000 !important;
  }
  
  .rounded-pill {
	border-radius: 5rem;
  }
  
  .navbar-custom {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
  }
  
  .navbar-custom .navbar-nav .nav-item .nav-link {
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
  }

  #courseheader{
	padding-top: calc(2rem + 72px);
	padding-bottom: 2rem;
  }

  .masthead {
	   
	position: relative;
	overflow: hidden;
	padding-top: calc(6rem + 72px);
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #d8d0ca 0%, #bdad99 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	padding-left: 0px
  }

  .masthead {
	   
	position: relative;
	overflow: hidden;
	padding-top: calc(6rem + 72px);
	padding-bottom: 7rem;
	background: linear-gradient(0deg, #d8d0ca 0%, #bdad99 100%);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
	padding-left: 0px
  }
  
  .masthead .masthead-content {
	z-index: 1;
	position: relative;
  }
  
  .masthead .masthead-content .masthead-heading {
	font-size: 4rem;
  }
  
  .masthead .masthead-content .masthead-subheading {
	font-size: 2rem;
  }



 .masthead .bg-circle  {
	z-index: 0;
	position: absolute;
	border-radius: 100%;
	background: linear-gradient(0deg, #f50505 0%, #f37013 100%);
  }
 


.masthead .bg-circle-1  {
	height: 90rem;
	width: 90rem;
	bottom: -55rem;
	left: -55rem;
  }
 
  
.masthead .bg-circle-2 {
	height: 50rem;
	width: 50rem;
	top: -25rem;
	right: -25rem;
  }
  
.masthead .bg-circle-3 {
	height: 20rem;
	width: 20rem;
	bottom: -10rem;
	right: 5%;
  }
  
.masthead .bg-circle-4 {
	height: 30rem;
	width: 30rem;
	top: -5rem;
	right: 35%;
  }

  .masthead .bg-circle-5 {
	height: 40rem;
	width: 40rem;
	top: -5rem;
	right: 0rem;
  }

  .masthead .bg-circle-6 {
	height: 50rem;
	width: 50rem;
	bottom: -10rem;
	right: 35%;
  }

  .masthead .bg-circle-7 {
	height: 20rem;
	width: 20rem;
	top: -10rem;
	left: 0%;
  }



  .dbackground{
	position: relative;
	/* overflow: hidden; */
	padding-top: calc(2rem + 72px);
	/* padding-bottom: 7rem; */
	background: linear-gradient(0deg, #d8d0ca 0%, #bdad99 100%);
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	background-attachment: scroll;
	background-size: cover;
	/* padding-left: 50px */
  }

  .dbackground-O{
	position: relative;
	/* overflow: hidden; */
	padding-top: calc(2rem + 72px);
	/* padding-bottom: 7rem; */
	background: linear-gradient(0deg, #ff000048 0%, #ff6a00 100%);
	/* background-repeat: no-repeat; */
	/* background-position: center center; */
	background-attachment: scroll;
	background-size: cover;
	/* padding-left: 50px */
  }



  .dbackgroundColor{
	background: linear-gradient(0deg, #d8d0ca 0%, #bdad99 100%);
  }

  .dheight{
	  min-height: 100vh;
  }
  
  .dheightReg{
	min-height: 90vh;
}

.footerbaseProfile{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8rem;   
}
.footerbaseRegister{
	
	bottom: 0;
	width: 100%;
	height: 8rem;   
}

.registerForm{
	min-height: 70vh;
}


#avatar{
	border-radius: 50%;
}

  @media (min-width: 992px) {
	.masthead {
	  padding-top: calc(10rem + 55px);
	  padding-bottom: 9rem;
	}
	.masthead .masthead-content .masthead-heading {
	  font-size: 5rem;
	}
	.masthead .masthead-content .masthead-subheading {
	  font-size: 4rem;
	}
  }
  
  .bg-primary {
	background-color: #a01010 !important;
  }
  
  .btn-primary {
	background-color: #ff0000;
	border-color: #ee0979;
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #ff0000 !important;
	border-color: #bd0760 !important;
  }
  
  .btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  }
  
  .btn-secondary {
	background-color: #ff6a00;
	border-color: #ff6a00;
  }
  
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
	background-color: #cc5500 !important;
	border-color: #cc5500 !important;
  }
  
  .btn-secondary:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  }
  

body.darkmode { 
	background: rgb(36, 36, 36);
}

.masthead .darkmode {
	background: linear-gradient(0deg, #0545f5 0%, #590b86 100%);
}
  
.masthead-content .darkmode{
	  color: rgb(129, 125, 125);
	  background: transparent;
}

h1.darkmode{
	color: #bdb5ac;
}

h2.darkmode{
	color: #bdb5ac;
}